.checkout-login {
    width: 100%;
    max-width: 500px;
    margin: 4rem auto;
    text-align: center;
}

.checkout-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem 2rem;
    margin: .5rem;

    .checkout-form {
        width: 100%;
        max-width: 700px;

        section {
            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 1rem;
                background-color: var(--color-light);

                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    font-size: .95rem;
                    background-color: var(--color-white);
                    border: 2px solid var(--color-dark);
                    border-radius: 500%;
                    text-align: center;
                }
            }
        }
    }

    .form-group {
        width: 100%;
        margin: 1rem auto;
    }

    .form-flex {
        display: flex;
        flex-wrap: wrap;
    }
}

.form-wrapper {
    margin: .5rem 0;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);
    border-radius: 5px;

    form { padding: 1rem; }
}

.shipping-form {
    .form-group {
        &:first-child,
        &:nth-child(2) { width: 48%; }
        &:nth-child(3) { width: 75%; }
        &:nth-child(4) { width: 23%; }
        &:nth-child(5) { width: 35% }
        &:nth-child(6) { width: 40%; }
        &:nth-child(7) { width: 20%; }
        &:nth-child(8) { width: 70%; margin-left: .25rem; }
    }

    .shipping-methods {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
        padding: 0;
        list-style: none;

        .shipping-method {
            padding: .5rem;
            
            label {
                display: block;
                width: 150px;
                padding: 1rem;
                text-align: center;
                border: 1px solid var(--color-med);
                border-radius: 5px;
                cursor: pointer;
                user-select: none;

                &:hover {
                    box-shadow: 0 0 2px 4px rgba(0,0,0,0.15);
                }

                span { display: block; }
                span:last-child {
                    margin-top: 1rem;
                    font-weight: 700;
                }
            }


            input[type=radio] { display: none; }
            input[type=radio]:checked + label {
                border: 2px solid var(--color-primary);
                background-color: var(--color-warning-light);
                box-shadow: 0 0 2px 4px rgba(0,0,0,0.15);
            }
        }
    }
}

.payment-form {
    .form-group {
        &:nth-child(3),
        &:nth-child(4) { width: 30%; }
        &:nth-child(5) { width: 37%; }
    }

    .alert {
        margin: 1rem auto;
        font-size: .75rem; 
    }
}

.order-summary {
    position: sticky;
    top: 1rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.15);
    border-radius: 5px;

    h3 {
        margin: .25rem 0 1rem;

        i { margin-right: .5rem; }
    }

    .cart-summary {
        position: relative;
        max-height: 60vh;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        scrollbar-width: thin;

        &::before {
            content: 'Items';
            display: block;
            position: sticky;
            top: 0;
            width: 100%;
            background-color: var(--color-white);
        }

        &::-webkit-scrollbar { width: .3vw; }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-dark);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track { background-color: var(--color-light); }

        .cart-summary-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;
            border-bottom: 1px solid var(--color-light);

            span {
                margin: 0 .5rem;

                &:nth-child(2) {
                    flex: 1;
                    font-weight: 700;
                }
            }

        }
    }

    .order-total {
        margin: 1rem 0 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            padding: .5rem 0;
        }

        .subtotal {
            font: {
                size: 1.2rem;
                weight: 700;
            }
        }

        .shipping-total, .tax-total {
            margin: 1rem 0;
            padding: 0 1rem;
            font-size: .95rem;
        }

        .total {
            padding-top: .5rem;
            font: {
                size: 1.5rem;
                weight: 700;
            }
            border-top: 1px dotted var(--color-light);
        }
    }
}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i.fa-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 2rem 0 0;
        color: var(--color-success);
        font-size: 2rem;
        border: 6px solid var(--color-success);
        border-radius: 50%;
    }

    .flex {
        display: flex;
        justify-content: center;

        & > div {
            width: 100%;
            max-width: 175px;
            margin: .5rem;
            padding: .25rem .75rem .25rem 0;
            border-right: 1px solid var(--color-dark);

            &:last-child { border-right: none; }
            
            h5 {
                font-size: 1rem;
                text-align: center;
            }

            p { font-size: .85rem;}

            .card-info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img { width: 35px; }
            }
        }
    }

    .button-wrapper {
        width: 100%;
        padding: 1rem 1rem 0;
    }
}

@media (max-width: 649px) {
    .shipping-form {

        .form-group {
            &:nth-child(3) { width: 65%; }
            &:nth-child(4) { width: 30%; }
            &:nth-child(5) { width: 30% }
            &:nth-child(6) { width: 35% }
            &:nth-child(7) { width: 30% }
        }

        .shipping-methods .shipping-method label {
            width: 300px;
        }
    }

    .payment-form {
        .form-group {
            &:nth-child(3) { margin-left: 0; }
            &:nth-child(3),
            &:nth-child(4) { width: 30%; }
            &:nth-child(5) { width: 35%; }
        }
    }

    .confirmation {
        text-align: center;

        .flex { flex-wrap: wrap; }
        .flex > div { border-right: none; }
    }
}
