.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 15rem);
    text-align: center;

    p { margin-top: 3rem; }
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loading 2500ms ease-in-out infinite;

    .dot { background-color: var(--color-med); }
}

.dot {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dot:first-child,
.dot:last-child {
    transform: scale(60%);
}

.dot:nth-child(2),
.dot:nth-child(4) {
    transform: scale(80%);
}